@model List<Flight>

@{
    ViewData["Title"] = "Flights";
}

<div class="text-center">
    <h1 class="display-4">Flights</h1>
</div>

<div class="row">
    <div class="col">
        <form method="get" class="search-form p-3 m-auto  border border-2 rounded-2">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="departure" class="col-form-label">Departure</label>
                </div>
                <div class="col-sm">
                    <select id="departure" name="departure" class="form-select">
                        <option>YYC</option>
                        <option>YVR</option>
                        <option>YWG</option>
                        <option>YQM</option>
                        <option>YYT</option>
                        <option>YHZ</option>
                        <option>YYZ</option>
                        <option>YYG</option>
                        <option>YUL</option>
                        <option>YXE</option>
                        <option>YZF</option>
                        <option>YFB</option>
                        <option>YXY</option>
                    </select>
                </div>

                <div class="col-auto">
                    <label for="destination" class="col-form-label">Destination</label>
                </div>
                <div class="col-sm">
                    <select id="destination" name="destination" class="form-select">
                        <option>YYC</option>
                        <option>YVR</option>
                        <option>YWG</option>
                        <option>YQM</option>
                        <option>YYT</option>
                        <option>YHZ</option>
                        <option>YYZ</option>
                        <option>YYG</option>
                        <option>YUL</option>
                        <option>YXE</option>
                        <option>YZF</option>
                        <option>YFB</option>
                        <option>YXY</option>
                    </select>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <button type="submit" id="searchButton" class="btn btn-success mt-3">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="searchResults"></div>

<div class="container p-2 m-2">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Flight #</th>
                <th scope="col">Departure</th>
                <th scope="col">Arrival</th>
                <th scope="col">Airline</th>
                <th scope="col">Seats</th>
                <th scope="col">Duration</th>
                <th scope="col">Status</th>
                <th scope="col">Ticket Price</th>
                <th scope="col">Book Now!</th>
            </tr>
        </thead>
        @foreach (var flight in Model)
        {
            <tbody>
                <tr>
                    <th scope="row">@flight.FlightId</th>
                    <td>@flight.DeparturePort</td>
                    <td>@flight.ArrivalPort</td>
                    <td>@flight.AirlineName</td>
                    <td>@flight.AvailSeats</td>
                    <td>@flight.FlightDuration Hour(s)</td>
                    <td>@flight.Status</td>
                    <td class="text-success">$@flight.TicketCost CAD</td>
                    <td>
                        <a asp-controller="Booking" asp-action="CreateFlight" asp-route-id="@flight.FlightId" asp-route-ticketCost="@flight.TicketCost" asp-route-status="@flight.Status" class="btn btn-primary">Book Now!</a>
                    </td>

                </tr>
            </tbody>
        }
    </table>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>$(document).ready(function () {
            $('.search-form').on('submit', function (event) {
                event.preventDefault(); // Stop the form from causing a page refresh

                var departure = $('#departure').val();
                var arrival = $('#destination').val();

                console.log("Submitted", departure + " -> " + arrival);

                $.ajax({
                    url: '/Search/Flight', // Make sure this URL is correct
                    data: { departure: departure, arrival: arrival },
                    type: 'GET',
                    success: function (result) {
                        console.log(result);
                        $('#searchResults').html(result); // Update the #searchResults div
                        $('#loader').hide();
                    },
                    error: function (xhr, status, error) {
                        $('#loader').hide();
                        console.error(error);
                        // Optionally alert the user or display the error on the page
                    }
                });
            });
        });</script>
}


