@model List<Rental>
@{
    ViewData["Title"] = "Available Vehicles";
}

<div class="text-center">
    <h1 class="display-4">Available Vehicles for Rent</h1>
</div>

<div class="row">
    <div class="col">
        <form method="get" class="search-form p-3 home-search m-auto  border border-2 rounded-2">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="vehicleName" class="col-form-label">Vehicle Name</label>
                </div>
                <div class="col-md-3">
                    <input type="text" name="vehicleName" id="vehicleName" class="form-control" placeholder="">
                </div>

                <div class="col-auto">
                    <label for="vehicleType" class="col-form-label">Vehicle Type</label>
                </div>
                <div class="col-sm">
                    <select id="vehicleType" name="vehicleType" class="form-select">
                        <option></option>
                        <option>SUV</option>
                        <option>Sedan</option>
                        <option>Coupe</option>
                        <option>Hatchback</option>
                        <option>Convertible</option>
                    </select>
                </div>

                <div class="col-auto">
                    <label for="state" class="col-form-label">Province</label>
                </div>
                <div class="col-md-4">
                    <select name="state" id="state" class="form-select">
                        <option value="">Province</option>
                        <option>Alberta</option>
                        <option>British Columbia</option>
                        <option>Manitoba</option>
                        <option>New Brunswick</option>
                        <option>Newfoundland</option>
                        <option>Nova Scotia</option>
                        <option>Ontario</option>
                        <option>Prince Edward Island</option>
                        <option>Quebec</option>
                        <option>Saskatchewan</option>
                        <option>Northwest Territories</option>
                        <option>Nunavut</option>
                        <option>Yukon</option>
                    </select>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <button type="submit" id="searchButton" class="btn btn-success mt-3">Search</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<div id="searchResults"></div>

<div class="container-fluid p-3 m-3 text-center">
    <div class="row">
        @foreach (var vehicle in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@Url.Content($"~/img/{vehicle.MakeModel.Replace(" ", "")}.webp")" class="card-img-top" alt="Image of @vehicle.VehicleName">

                    <div class="card-body">
                        <h5 class="card-title">@vehicle.VehicleName</h5>
                        <p class="card-text">
                            <strong>Type:</strong> @vehicle.VehicleType<br>
                            <strong>Location:</strong> @vehicle.State, @vehicle.Country<br>
                            <strong>Year:</strong> @vehicle.Year<br>
                            <strong>Mileage:</strong> @vehicle.Mileage miles<br />
                            <strong>Availability:</strong> @vehicle.Status
                        </p>
                        <div class="d-flex justify-content-between align-items-center">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="btn-group">
                                    <a asp-controller="Booking" asp-action="CreateRental"
                                       asp-route-id="@vehicle.RentalId" asp-route-RentalCost="@vehicle.RentalCost"
                                       asp-route-status="@vehicle.Status" class="btn btn-primary">Book Now!</a>
                                </div>
                            }
                            else
                            {
                                <span data-bs-toggle="tooltip" data-bs-title="Sign in to Book!">
                                    <button class="btn btn-primary" disabled>Book Now!</button>
                                </span>
                            }
                            <span class="text-muted">$@vehicle.RentalCost / day</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>$(document).ready(function () {
            $('.search-form').on('submit', function (event) {
                event.preventDefault(); // Stop the form from causing a page refresh

                var vehicleName = $('#vehicleName').val();
                var vehicleType = $('#vehicleType').val();
                var state = $('#state').val();

                console.log("Submitted", vehicleName + ", " + vehicleType + ", " + state);

                $.ajax({
                    url: '/Search/Rental', // Make sure this URL is correct
                    data: { vehicleName: vehicleName, vehicleType: vehicleType, state: state },
                    type: 'GET',
                    success: function (result) {
                        console.log(result);
                        $('#searchResults').html(result);

                    },
                    error: function (xhr, status, error) {

                        console.error(error);

                    }
                });
            });
        });</script>
}
